<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="!cargando_reclamos">
    <ion-card *ngFor="let item of reclamos">

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/logot.png">
          </ion-avatar>
          <h2>{{item.user.email}}</h2>
          <p>{{item.fecha | date: 'dd/MM/yyyy'}}</p>
        </ion-item>
      
        <img src="{{item.imagen.url}}"/>
      
        <ion-card-content>
          <ion-card-title>
            {{item.titulo}}
          </ion-card-title>
          <p>
            {{item.descripcion}}
          </p>
        </ion-card-content>
        
        <ion-row>
          <ion-col>
            <button ion-button icon-start small block color="secondary">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-end small block (click)="itemTapped($event, item)">
              <ion-icon name="search"></ion-icon>            
              <div>Ver</div>
            </button>
          </ion-col>
        </ion-row>        
      </ion-card>
  </ion-list>

</ion-content>
